In [19]:
#3.3 Selfcheck
number1 = int(input('Enter your first integer '))

number2 = int(input('Enter your second integer '))
total = number1 + number2

print('The sum of', number1, 'and', number2, 'is', total)

Enter your first integer  1
Enter your second integer  2

The sum of 1 and 2 is 3

In [20]:
#3.4 Control Statements

#if statement
grade = int(input('Enter your grade: '))
if grade >= 75:
  print('Congrats! You have passed! ')
else:
  print('Sorry, you failed. Try again! ')

Enter your grade:  98

Congrats! You have passed!

In [21]:
#concise conditional expression

grade = int(input('Enter your grade '))

result = ('Passed ' if grade >= 65 else 'Failed ')
result

Enter your grade  56

'Failed '

In [22]:
#Multiple statements in a suite

grade = 67

if grade >= 60:
  print('Passed ')
else: 
  print('Failed ')
  print('Try again Fucker')

Passed

In [23]:
#if elif else statements

grade =  int(input('Enter your grade '))

if grade >= 90:
  print('A')
elif grade >= 80:
  print('B')
elif grade >= 70:
  print('C')
elif grade >= 60:
  print('D')
else:
  print("You're not very good at this are you?")

Enter your grade  89

B

In [24]:
#While statements - allows you to repeat one or more actions while a condition remains true. Often called a "loop"

product = 3

while product <= 50:
  product = product * 2 #multiplies the product by 2 as long as the product is under 50. In this case its 3*2, 6*2, 12*2, 24*2, 48*2, and then it stops because it is no longer true. 

product

96

In [25]:
#3.7 Self check

product = 7

while product <= 1000:
  product = product * 7
product

2401

In [26]:
#3.8 For Statement Performs its action(s) for each item in a sequence of items. Ex: display "Programming" with characters separated by 2 spaces

for character in 'Programming':
  print(character, end='  ') #end is keyword argument

print(10, 20, 30, sep='')

P  r  o  g  r  a  m  m  i  n  g  102030

In [27]:
#3.8.1 Iterables, Lists, and Iterators 
#Iterable - an object from which the for the statement can one item at a time until no more remain. Ex: lists []
#iterator - used by the for statement behind the scenes as a bookmark to always know where its at in the sequence
total = 0
for number in [2, -3, 0, 17, 9]:
  total = total + number
total

25

In [28]:
#3.8.2 Built in range Function
for counter in range(10): #range(10) is the function call. It creates an iterable object that represents a sequence of consecutive integers 0 thru 9.
  print(counter, end=' ') #The for statement exits after it processes the last integer in the list.

0 1 2 3 4 5 6 7 8 9

In [29]:
#3.8.2 Self check
total = 0
for number in range(1000001):
  total = total + number
total

500000500000

In [30]:
#3.9 Augumented Assignments: Abbreviates assignment expressions in which the same variable name appears on both sides of the = does. 
#ex total = total + number: can be augmented to total += number

total = 0
for number in [1, 3, 5, 9, 91]:
  total += number #augmented assignment
total

109

In [31]:
#3.9 Self Check

x = 12
x **= 2
x

144

In [32]:
#3.10 Sequence Controlled Repetition
#3.10.1 Requirements Statement- describes what a program is supposed to do, but not how to do it. 1st step in creating an alogrithm 
#Initialization phase

total = 0
grades_counter = 0
grades = [98, 45, 78, 90, 56, 87, 73, 100, 67, 77]
#Execution Phase

for grade in grades:
  total += grade #adds current grade to the running total
  grades_counter += 1 #indicates 1 more grade was processed. 

#Termination phase
average = (total / grades_counter) #takes total divided by grades_counted and sets it to average 

print(f'Class average is {average}') #formated string: specify where to insert values by using placeholders {}. 
                                     # may contain values, variables, or other expressions such as calculations or function calls.

Class average is 77.1

In [33]:
#3.11 Sentinel Controlled Repetition (Indefinite repetition)
#sentinel value is used to indicate the end of data entry

#TOP DOWN, STEPWISE REFINEMENT: 
#The top is a single statement stating what the programs overall function will be. 

#First refinement: Decompose the top into a sequence of smaller tasks i.e. divide and conquer

#second refinement: we commit to specific variables that the program needs to maintain. This is where the bulk of the work is done. 


#intialization phase
total = 0
grade_counter = 0

#processing phase
grade = int(input('Enter grade, -1 to end: '))
while grade != -1: #while the grade is not -1, the following statement runs.
  total += grade #adds current grade to the running total 
  grade_counter += 1 #indicates one more grade has been processed.
  grade = int(input('Enter grade, -1 to end:  ')) #repeats the input prompt


#termination phase
if grade_counter != 0: #if the grade counter is not = to 0, then the statement runs to figure the class average. 
  average = total / grade_counter
  print(f'Class average is {average: .2f}')
else:
  print('No grades were entered. ') #if not grades were entered this prints.

Enter grade, -1 to end:  78
Enter grade, -1 to end:   89
Enter grade, -1 to end:   90
Enter grade, -1 to end:   -1

Class average is  85.67

In [34]:
#3.12 Nested Control Statements

#initialization phase, set variables
passes = 0 
failures = 0

#process phase
for student in range(10):
  result = int(input('Enter result (1=pass, 2=fail)')) #gets 1 exam result

  if result == 1:
    passes += 1
  else:
    failures += 1

#termination phase
print('Passed:', passes)
print('Failed', failures)

if passes > 8:
  print('Nice. You get a bonus')

Enter result (1=pass, 2=fail) 1
Enter result (1=pass, 2=fail) 2
Enter result (1=pass, 2=fail) 2
Enter result (1=pass, 2=fail) 2
Enter result (1=pass, 2=fail) 2
Enter result (1=pass, 2=fail) 1
Enter result (1=pass, 2=fail) 1
Enter result (1=pass, 2=fail) 1
Enter result (1=pass, 2=fail) 1
Enter result (1=pass, 2=fail) 1

Passed: 6
Failed 4

In [35]:
#3.13 Built-in Functio Range

# Function range 2 argument version
for number in range(1, 19, 2):#prints lower limit to the number before the upperlimit, spacing them with 1 space between them 
  print(number, end=' ')


# Funciton range 3 arugment version produces intergers from the first arugment, up to but not including the second argument, by incrementing by the 3rd argument

1 3 5 7 9 11 13 15 17

In [36]:
#3.13 self check 

total = 0 
for number in range(2,101, 2): #sets the range from 2-100, incrementing by 2
  total += number #adds the integer to the running total

total

2550

In [37]:
#3.14 Using Decimal for monetary amounts
from decimal import Decimal

principal = Decimal('1000.00')
principal

rate = Decimal('0.05')
rate

x = Decimal('10.5')
y = Decimal('2')

x + y

x//y

x += y

x

Decimal('12.5')

In [38]:
#3.14 compound interest script
principal = Decimal('1500.00') #initial investment
rate = Decimal('.05') #rate of return
for year in range(1, 11): #term your investing
  amount = principal * (1 + rate) ** year  # (1+r)**n is written as (1 + rate) ** year
  print(f'{year:>2}{amount:>10.2f}')

 1   1575.00
 2   1653.75
 3   1736.44
 4   1823.26
 5   1914.42
 6   2010.14
 7   2110.65
 8   2216.18
 9   2326.99
10   2443.34

In [39]:
#3.16 Boolean Operators and, or and not
#And ensures two conditions are both true
gender = 'female'

age = 70
if gender == 'female' and age >= 65:
    print('Senior Female')

Senior Female

In [40]:
#Boolean operator or tests whether one or both conditions are true. If either are true, the entire condition is true. 

semester_average = 83

final_exam = 95

if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [41]:
#Boolean Operator not reverses the meaning of a condition. True becomes False and vice versa. Unary operator (only one operande)
#you place the not operator before a condition to chooses a path of execution if the original condition(without the operator) is False

grade = 87
if not grade == -1:
    print('the next grade is ', grade)

the next grade is  87

In [42]:
if grade != -1:
    print('the next grade is ', grade)

the next grade is  87

In [43]:
#3.18

grades = [85, 93, 45, 89, 85]

sum(grades) / len(grades)

79.4

In [44]:
import statistics

In [45]:
statistics.mean(grades) #mean is the average value in a set of values.

79.4

In [46]:
statistics.median(grades) #median is the middle value when all values are arranged in sorted order

85

In [47]:
statistics.mode(grades) #mode is the most frequently occuring value

85

In [48]:
sorted(grades)

[45, 85, 85, 89, 93]

In [49]:
#3.18 Question 4
import statistics
values = [47, 95, 88, 73, 88, 84]

statistics.mean(values)

79.16666666666667

In [50]:
statistics.median(values)

86.0

In [51]:
statistics.mode(values)

88

In [68]:
print('I am Jon Sanders and thanks for coming to my TED Talk!')

I am Jon Sanders and thanks for coming to my TED Talk!

In [67]:
#Aaron Rodgers Passing stats

totalAttempts = [28, 27, 33, 36, 39, 23, 35, 37, 37, 33, 45, 37, 31, 34, 38, 18]

totalCompletions = [15, 22, 23, 20, 27, 17, 27, 22, 23, 23, 28, 29, 23, 24, 29, 14]

len(totalAttempts)

16

In [61]:
sum(totalAttempts)

531

In [62]:
sum(totalCompletions)

366

In [63]:
statistics.mean(totalAttempts)

33.1875

In [64]:
statistics.median(totalAttempts)

34.5

In [65]:
statistics.mode(totalAttempts)

37